BasedOnStyle: Google

Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
ContinuationIndentWidth: 4

AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false

BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: BinPack

Cpp11BracedListStyle: true

IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: None

NamespaceIndentation: None

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

ReflowComments: true
CommentPragmas: '^ IWYU pragma:'

FixNamespaceComments: true

SpaceBeforeRangeBasedForLoopColon: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

ConstructorInitializerIndentWidth: 4

UseCRLF: false